﻿:root {
    --color__input_background: #F3F3F3;
    --color__input_border: #3C3C3C;
    --color__input_border--active: #005DEA;
    --color__input_border--invalid: #A30000;

    --color__text: #070A21;
    --color__text--inverse: rgba(255, 255, 255, .9);
    --color__placeholder: #606060;

    --color__label: rgba(7, 10, 33, .6);
    --color__label--required: rgba(7, 10, 33);

    --color--primary: #2339FF;
    --color--secondary: #5B5B5B;
    --color--danger: #A30000;
}

.text_input, .number_input, .drop_down, .checkbox {
    border-color: var(--color__input_border);
    border-style: solid;
    border-width: 2px;
    border-radius: .2rem;

    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: .4rem;
    padding-right: .4rem;

    background-color: var(--color__input_background);

    color: var(--color__text);
}

    .text_input:focus-within, .text_input:not([disabled]):hover, .number_input:focus-within, .number_input:not([disabled]):hover, .drop_down:focus, .drop_down:not([disabled]):hover {
        border-color: var(--color__input_border--active);
    }

    .text_input[disabled], .number_input[disabled], .drop_down[disabled], .drop_down__clear[disabled], .checkbox[disabled], .checkbox_label[disabled], .radio_button__group[disabled] {
        opacity: .4;
    }

    .text_input[invalid], .number_input[invalid], .drop_down[invalid] {
        border-color: var(--color__input_border--invalid);
    }

.drop_down__clear {
    color: var(--color--danger);
}

.checkbox:not([disabled]):hover {
    border-color: var(--color__input_border--active);
}

.checkbox_label {
    color: var(--color__text);
}

.item__label {
    color: var(--color__label);
}

    .item__label--required {
        color: var(--color__label--required);
        font-weight: bold;
    }

.item__error_message {
    color: var(--color--danger);
    font-size: 0.9em;
}

.item__hint {
    font-size: 0.8em;
}

.button--primary {
    border-color: var(--color--primary);

    background-color: var(--color--primary);

    color: var(--color__text--inverse);
}

.button--secondary {
    border-color: var(--color--secondary);

    background-color: transparent;

    color: var(--color--secondary);
}

.button--danger {
    border-color: var(--color--danger);

    background-color: var(--color--danger);

    color: var(--color__text--inverse);
}

.button--text {
    border-style: none;

    background: none;
}

.button--text--primary {
    color: var(--color--primary);
}

.button--text--secondary {
    color: var(--color--secondary);
}

.button--text--danger {
    color: var(--color--danger);
}

.button[disabled] {
    opacity: .4;
}

.radio_button__label {
    color: var(--color__text);
}

    .radio_button:not([disabled]):hover {
        border-color: var(--color__input_border--active);
        border-width: 0.2em;
    }