﻿@using Bunit
@using Bogus

@inherits TestContext

@code {
	[Fact(DisplayName = "[UNIT][BTN-001] - Show icon")]
	public void Button_ShowIcon()
	{
		// Arrange
		var icon = new Faker().Random.String();

		// Act
		var cut = Render(@<Button Icon="@icon"></Button>);

		// Assert
		Assert.Contains(icon, cut.Find(Selectors.ByTestId("icoIcon")).ClassList);
	}

	[Fact(DisplayName = "[UNIT][BTN-002] - Hide icon")]
	public void Button_HideIcon()
	{
		// Act
		var cut = Render(@<Button></Button>);

		// Assert
		Assert.Empty(cut.FindAll(Selectors.ByTestId("icoIcon")));
	}

	[Fact(DisplayName = "[UNIT][BTN-003] - Show label")]
	public void Button_ShowLabel()
	{
		// Arrange
		var label = new Faker().Random.String();

		// Act
		var cut = Render(@<Button Label="@label"></Button>);

		// Assert
		Assert.Contains(label, cut.Find(Selectors.ByTestId("lblLabel")).TextContent);
	}

	[Fact(DisplayName = "[UNIT][BTN-004] - Hide label")]
	public void Button_HideLabel()
	{
		// Act
		var cut = Render(@<Button></Button>);

		// Assert
		Assert.Empty(cut.FindAll(Selectors.ByTestId("lblLabel")));
	}

	[Theory(DisplayName = "[UNIT][BTN-005] - Apply severity")]
	[InlineData(Severity.Primary)]
	[InlineData(Severity.Secondary)]
	[InlineData(Severity.Danger)]
	public void Button_ApplySeverity(Severity severity)
	{
		// Arrange
		var faker = new Faker();

		// Act
		var cut = Render(@<Button Icon="@(faker.Random.String())" Label="@(faker.Random.String())" Severity="@severity"></Button>);

		// Assert
		Assert.Contains($"button--{severity.ToString().ToLower()}", cut.Find(Selectors.ByTestId("btnButton")).ClassList);
		Assert.Contains($"button__icon--{severity.ToString().ToLower()}", cut.Find(Selectors.ByTestId("icoIcon")).ClassList);
		Assert.Contains($"button__label--{severity.ToString().ToLower()}", cut.Find(Selectors.ByTestId("lblLabel")).ClassList);
	}

	[Theory(DisplayName = "[UNIT][BTN-006] - Apply style")]
	[InlineData(ButtonStyles.Text)]
	public void Button_ApplyStyle(ButtonStyles style)
	{
		// Arrange
		var faker = new Faker();

		// Act
		var cut = Render(@<Button Icon="@(faker.Random.String())" Label="@(faker.Random.String())" DisplayStyle="@style"></Button>);

		// Assert
		Assert.Contains($"button--{style.ToString().ToLower()}", cut.Find(Selectors.ByTestId("btnButton")).ClassList);
		Assert.Contains($"button__icon--{style.ToString().ToLower()}", cut.Find(Selectors.ByTestId("icoIcon")).ClassList);
		Assert.Contains($"button__label--{style.ToString().ToLower()}", cut.Find(Selectors.ByTestId("lblLabel")).ClassList);
	}

	[Fact(DisplayName = "[UNIT][BTN-007] - Disable")]
	public void Button_Disable()
	{
		// Arrange
		var faker = new Faker();

		// Act
		var cut = Render(@<Button Icon="@(faker.Random.String())" Label="@(faker.Random.String())" Disabled=true></Button>);

		// Assert
		Assert.Contains($"disabled", cut.Find(Selectors.ByTestId("btnButton")).Attributes.Select(a => a.NodeName));
		Assert.Contains($"disabled", cut.Find(Selectors.ByTestId("icoIcon")).Attributes.Select(a => a.NodeName));
		Assert.Contains($"disabled", cut.Find(Selectors.ByTestId("lblLabel")).Attributes.Select(a => a.NodeName));
	}
}
