﻿@using AngleSharp.Dom
@using AutoBogus
@using Blazter.Test.Unit.Components.Helpers
@using Blazter.Test.Unit.Components.Models
@using Bogus
@using Bunit
@using System.ComponentModel.DataAnnotations

@inherits TestContext

@code {
	[Fact(DisplayName = "[UNIT][DDW-001] - Select placeholder")]
	public void DropDown_SelectPlaceholder()
	{
		// Arrange
		var options = new AutoFaker<TestOption>().Generate(5);
		var model = new TestModel();

		// Act
		var cut = Render(@<DropDown TValue="TestOption" Options="options" Id="Id" Name="Name" @bind-Value="model.Property"></DropDown>);

		// Assert
		Assert.Contains("selected", cut.Find(Selectors.ByTestId("optPlaceholder")).Attributes.Select(a => a.NodeName));
	}

	[Fact(DisplayName = "[UNIT][DDW-002] - Select value")]
	public void DropDown_SelectValue()
	{
		// Arrange
		var options = new AutoFaker<TestOption>().Generate(5);
		var model = new TestModel();

		var cut = Render(@<DropDown TValue="TestOption" Options="options" Id="Name" Name="Name" @bind-Value="model.Property"></DropDown>);

		var selected = new Faker().PickRandom(cut.FindAll(Selectors.ByTestId("optOption")).ToList());

		// Act
		cut.Find(Selectors.ByTestId("slcSelector")).Change(selected.TextContent);

		// Assert
		Assert.Equal(selected.TextContent, model.Property.Name);
	}

	[Fact(DisplayName = "[UNIT][DDW-003] - Clear value")]
	public void DropDown_ClearValue()
	{
		// Arrange
		var options = new AutoFaker<TestOption>().Generate(5);
		var model = new TestModel();

		var cut = Render(@<DropDown TValue="TestOption" Options="options" Id="Name" Name="Name" @bind-Value="model.Property"></DropDown>);

		// Act
		cut.Find(Selectors.ByTestId("btnClear")).Click();

		// Assert
		Assert.Contains("selected", cut.Find(Selectors.ByTestId("optPlaceholder")).Attributes.Select(a => a.NodeName));
	}

	[Fact(DisplayName = "[UNIT][DDW-004] - Value is not clearable")]
	public void DropDown_ValueIsNotClearable()
	{
		// Arrange
		var options = new AutoFaker<TestOption>().Generate(5);
		var model = new TestModel();

		// Act
		var cut = Render(@<DropDown TValue="TestOption" Options="options" Id="Name" Name="Name" @bind-Value="model.Property" Clearable=false></DropDown>);

		// Assert
		Assert.Empty(cut.FindAll(Selectors.ByTestId("btnClear")));
	}

	[Fact(DisplayName = "[UNIT][DDW-005] - Disabled")]
	public void DropDown_Disabled()
	{
		// Arrange
		var options = new AutoFaker<TestOption>().Generate(5);
		var model = new TestModel();

		// Act
		var cut = Render(@<DropDown TValue="TestOption" Options="options" Id="Name" Name="Name" @bind-Value="model.Property" Disabled=true></DropDown>);

		// Assert
		Assert.Contains("disabled", cut.Find(Selectors.ByTestId("btnClear")).Attributes.Select(a => a.NodeName));
		Assert.Contains("disabled", cut.Find(Selectors.ByTestId("slcSelector")).Attributes.Select(a => a.NodeName));
	}

	[Fact(DisplayName = "[UNIT][DDW-006] - Set string collection as options")]
	public void DropDown_SetStringCollectionAsOptions()
	{
		// Arrange
		var options = new Faker().Make<string>(5, () => new Faker().Random.String());
		var model = new TestModel();

		// Act
		var cut = Render(@<DropDown TValue="string" Options="options" @bind-Value="model.StringProperty"></DropDown>);

		// Assert
		Assert.Collection(cut.FindAll(Selectors.ByTestId("optOption")), options.AsInspectors().ToArray());
	}

	[Fact(DisplayName = "[UNIT][DDW-007] - Use complex type as option")]
	public void DropDown_SetComplexTypeAsOptions()
	{
		// Arrange
		var options = new AutoFaker<TestOption>().GenerateBetween(1, 5);
		var model = new TestModel();

		// Act
		var cut = Render(@<DropDown TValue="TestOption" Options="options" Id="Id" Name="Name" @bind-Value="model.Property"></DropDown>);

		// Assert
		Assert.Collection(cut.FindAll(Selectors.ByTestId("optOption")), options.AsDropDownInspectors().ToArray());
	}

	private record TestModel
	{
		public TestOption? Property { get; set; }
		[Required]
		public TestOption? Required { get; set; }
		public string? StringProperty { get; set; }
	}	
}
