﻿@using Bogus
@using Bunit
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations

@inherits TestContext

@code {

	[Fact(DisplayName = "[UNIT][ITC-001] - Show component")]
	public void Item_ShowComponent()
	{
		// Arrage
		// Act
		var cut = Render(@<Item TField="object" Label="@(new Faker().Random.String())"><div data-testId="component"></div>></Item>);

		// Assert
		Assert.NotEmpty(cut.FindAll(Selectors.ByTestId("component")));
	}

	[Fact(DisplayName = "[UNIT][ITC-002] - Show label")]
	public void Item_ShowLabel()
	{
		// Arrage
		var label = new Faker().Random.String();

		// Act
		var cut = Render(@<Item TField="object" Label="@label"><div data-testId="component"></div>></Item>);

		// Assert
		Assert.Equal(label, cut.Find(Selectors.ByTestId("lblLabel")).TextContent);
	}

	[Fact(DisplayName = "[UNIT][ITC-003] - Required item")]
	public void Item_RequiredItem()
	{
		// Act
		var cut = Render(@<Item TField="object" Label="@(new Faker().Random.String())" Required="true"><div data-testId="component"></div>></Item>);

		// Assert
		Assert.Contains(cut.Find(Selectors.ByTestId("lblLabel")).ClassList, tn => tn.Equals("item__label--required"));
	}

	[Fact(DisplayName = "[UNIT][ITC-004] - Mandatory item")]
	public void Item_MandatoryItem()
	{
		// Act
		var cut = Render(@<Item TField="object" Label="@(new Faker().Random.String())" Required="false"><div data-testId="component"></div>></Item>);

		// Assert
		Assert.DoesNotContain(cut.Find(Selectors.ByTestId("lblLabel")).ClassList, tn => tn.Equals("item--required"));
	}

	[Fact(DisplayName = "[UNIT][ITC-005] - Show error message")]
	public async Task Item_ShowErrorMessage()
	{
		// Arrange
		var model = new TestModel();
		var editContext = new EditContext(model);

		var cut = Render(@<EditForm EditContext="editContext"><DataAnnotationsValidator /><Item Label="@(new Faker().Random.String())" Field="() => model.Name"><TextInput @bind-Value="model.Name" /></Item></EditForm>);

		// Act
		await cut.InvokeAsync(() => editContext.Validate());

		// Assert
		Assert.Equal($"({TestModel.ERROR_MESSAGE})", cut.Find(Selectors.ByTestId("lblErrorMessage")).TextContent);
	}

	[Fact(DisplayName = "[UNIT][ITC-006] - Hide error message")]
	public async Task Item_HideErrorMessage()
	{
		// Arrange
		var model = new TestModel();
		var editContext = new EditContext(model);

		var cut = Render(@<EditForm EditContext="editContext"><DataAnnotationsValidator /><Item TField="object" Label="@(new Faker().Random.String())"><TextInput @bind-Value="model.Name" /></Item></EditForm>);

		// Act
		await cut.InvokeAsync(() => editContext.Validate());

		// Assert
		Assert.Empty(cut.FindAll(Selectors.ByTestId("lblErrorMessage")));
	}

	[Fact(DisplayName = "[UNIT][ITC-007] - Set required according to annotation")]
	public void Item_SetRequiredAccordingToAnnotation()
	{
		// Arrange
		var model = new TestModel();
		var editContext = new EditContext(model);

		// Act
		var cut = Render(@<EditForm EditContext="editContext"><DataAnnotationsValidator /><Item Label="@(new Faker().Random.String())" Field="() => model.Name"><TextInput @bind-Value="model.Name" /></Item></EditForm>);

		// Assert
		Assert.Contains(cut.Find(Selectors.ByTestId("lblLabel")).ClassList, tn => tn.Equals("item__label--required"));
	}

	[Fact(DisplayName = "[UNIT][ITC-008] - Show hint")]
	public void Item_ShowHint()
	{
		// Arrange
		var hint = new Faker().Random.String();

		// Act
		var cut = Render(@<Item TField="object" Label="@(new Faker().Random.String())" Hint="@hint"><div data-testId="component"></div>></Item>);

		// Assert
		Assert.Equal(hint, cut.Find(Selectors.ByTestId("lblHint")).TextContent);
	}

	[Theory(DisplayName = "[UNIT][ITC-009] - Hide hint")]
	[InlineData(null)]
	[InlineData("")]
	[InlineData("	 ")]
	public void Item_HideHint(string? hint)
	{
		// Act
		var cut = Render(@<Item TField="object" Label="@(new Faker().Random.String())" Hint="@hint"><div data-testId="component"></div>></Item>);

		// Assert
		Assert.Empty(cut.FindAll(Selectors.ByTestId("lblHint")));
	}

	private record TestModel
	{
		public const string ERROR_MESSAGE = "Name is required";

		[Required(AllowEmptyStrings = false, ErrorMessage = ERROR_MESSAGE)]
		public string Name { get; set; } = "";
	}
}
