﻿@using Bogus
@using Bunit
@using Microsoft.AspNetCore.Components.Forms

@inherits TestContext

@code {
	private int Value { get; set; }

	private IRenderedFragment CreateCUT(string? icon = null, bool disabled = false, DOMEvent updateOn = DOMEvent.OnInput)
	{
		return Render(@<EditForm Model="this"><NumberInput Icon="@icon" Disabled="@disabled" TValue="int" @bind-Value="Value" UpdateOn="updateOn"></NumberInput></EditForm>);
	}

	[Fact(DisplayName = "[UNIT][NMI-001] - Show Icon")]
	public void NumberInput_ShowIcon()
	{
		// Arrange
		var icon = new Faker().Random.String();

		// Act
		var cut = CreateCUT(icon);

		// Assert
		Assert.Contains(icon, cut.Find(Selectors.ByTestId("icoIcon")).ClassList);
	}

	[Theory(DisplayName = "[UNIT][NMI-002] - Hide Icon")]
	[InlineData(null)]
	[InlineData("")]
	[InlineData("	")]
	public void NumberInput_HideIcon(string? icon)
	{
		// Act
		var cut = CreateCUT(icon);

		// Assert
		Assert.Empty(cut.FindAll(Selectors.ByTestId("icoIcon")));
	}

	[Fact(DisplayName = "[UNIT][NMI-003] - Disable input")]
	public void NumberInput_DisableInput()
	{
		// Act
		var cut = CreateCUT(disabled: true);

		// Assert
		Assert.Contains(cut.Find(Selectors.ByTestId("inpNumber")).Attributes, a => a.Name.Equals("disabled"));
	}

	[Fact(DisplayName = "[UNIT][NMI-004] - Disable component")]
	public void NumberInput_DisableComponent()
	{
		// Act
		var cut = CreateCUT(disabled: true);

		// Assert
		Assert.Contains(cut.Find(Selectors.ByTestId("cntContainer")).Attributes, a => a.Name.Equals("disabled"));
	}

	[Fact(DisplayName = "[UNIT][NMI-005] - Enabled input")]
	public void NumberInput_EnableInput()
	{
		// Act
		var cut = CreateCUT(disabled: false);

		// Assert
		Assert.DoesNotContain(cut.Find(Selectors.ByTestId("inpNumber")).Attributes, a => a.Name.Equals("disabled"));
	}

	[Fact(DisplayName = "[UNIT][NMI-006] - Enabled component")]
	public void NumberInput_EnableComponent()
	{
		// Act
		var cut = CreateCUT(disabled: false);

		// Assert
		Assert.DoesNotContain(cut.Find(Selectors.ByTestId("cntContainer")).Attributes, a => a.Name.Equals("disabled"));
	}

	[Theory(DisplayName = "[UNIT][NMI-007] - Set bind event")]
	[InlineData(DOMEvent.OnInput)]
	[InlineData(DOMEvent.OnChange)]
	public void NumberInput_SetBindEvent(DOMEvent @event)
	{
		// Act
		var cut = CreateCUT(updateOn: @event);

		// Assert
		Assert.Contains(cut.Find(Selectors.ByTestId("inpNumber")).Attributes, a => a.Name.Equals($"blazor:{@event.ToString().ToLower()}"));
	}
}
