﻿@using AutoBogus
@using Blazter.Test.Unit.Components.Helpers
@using Blazter.Test.Unit.Components.Models
@using Bogus
@using Bunit
@using Microsoft.AspNetCore.Components.Forms

@inherits TestContext

@code {
	[Fact(DisplayName = "[UNIT][RDB-001] - Set string value")]
	public void RadioButton_SetValue()
	{
		// Arrange
		var options = new Faker().Make(5, () => new Faker().Random.String2(6));
		var selected = "";

		var cut = Render(@<EditForm Model="this"><RadioButton @bind-Value=@selected Options="@options"></RadioButton></EditForm>);

		var option = new Faker().PickRandom(cut.FindAll(Selectors.ByTestId("optOption")).ToList());

		// Act
		option.Change(new ChangeEventArgs(){Value = option.GetAttribute("value")});

		// Assert
		Assert.Equal(option.GetAttribute("value"), selected);
	}

	[Fact(DisplayName = "[UNIT][RDB-002] - Set complex value")]
	public void RadioButton_SetComplexValue()
	{
		// Arrange
		var options = new AutoFaker<TestOption>().GenerateBetween(2, 5);
		TestOption? selected = null;

		var cut = Render(@<EditForm Model="this"><RadioButton TValue="TestOption" @bind-Value=@selected Options="@options" Id="Id" Label="Name"></RadioButton></EditForm>);

		var option = new Faker().PickRandom(cut.FindAll(Selectors.ByTestId("optOption")).ToList());

		// Act
		option.Change(new ChangeEventArgs(){Value = option.GetAttribute("value")});

		// Assert
		Assert.Equal(int.Parse(option.GetAttribute("value")!), selected!.Id);
	}

	[Fact(DisplayName = "[UNIT][RDB-003] - Show label of simple type")]
	public void RadioButton_ShowLabelOfSimpleType()
	{
		// Arrange
		var options = new Faker().Make(5, () => new Faker().Random.String2(6));
		var selected = "";

		// Act
		var cut = Render(@<EditForm Model="this"><RadioButton TValue="string" @bind-Value=@selected Options="@options"></RadioButton></EditForm>);

		// Assert
		Assert.Collection(cut.FindAll(Selectors.ByTestId("optLabel")).ToList(), options.AsInspectors().ToArray());
	}

	[Fact(DisplayName = "[UNIT][RDB-004] - Show label of complex type")]
	public void RadioButton_ShowLabelOfComplexType()
	{
		// Arrange
		var options = new AutoFaker<TestOption>().GenerateBetween(2, 5);
		TestOption? selected = null;

		// Act
		var cut = Render(@<EditForm Model="this"><RadioButton TValue="TestOption" @bind-Value=@selected Options="@options" Id="Id" Label="Name"></RadioButton></EditForm>);

		// Assert
		Assert.Collection(cut.FindAll(Selectors.ByTestId("optLabel")).ToList(), options.AsRadioButtonInspectors().ToArray());
	}

	[Fact(DisplayName = "[UNIT][RDB-005] - Disabled")]
	public void RadioButton_Disabled()
	{
		// Arrange
		TestOption? selected = null;

		// Act
		var cut = Render(@<EditForm Model="this"><RadioButton TValue="TestOption" @bind-Value=@selected Options="@(new AutoFaker<TestOption>().Generate(1))" Disabled="true"></RadioButton></EditForm>);

		// Assert
		Assert.Contains("disabled", cut.Find(Selectors.ByTestId("inpRadioButtonGroup")).Attributes.Select(a => a.Name));
		Assert.Contains("disabled", cut.Find(Selectors.ByTestId("optOption")).Attributes.Select(a => a.Name));
	}
}
