﻿@using Bogus
@using Bunit
@using Microsoft.AspNetCore.Components.Forms

@inherits TestContext


@code {
	private string? Value { get; set; }

	private string? Icon{ get; set; }

	private IRenderedFragment CreateCUT(string? icon)
	{
		return Render(@<EditForm Model="this"><TextInput Icon="@icon" @bind-Value="Value"></TextInput></EditForm>);
	}

	[Fact(DisplayName = "[UNIT][TXI-001] - Show Icon")]
	public void TextInput_ShowIcon()
	{
		// Arrange
		var icon = new Faker().Random.String();

		// Act
		var cut = CreateCUT(icon);

		// Assert
		Assert.NotEmpty(cut.FindAll(Selectors.ByTestId("icoIcon")));
	}

	[Fact(DisplayName = "[UNIT][TXI-002] - Hide Icon")]
	public void TextInput_HideIcon()
	{
		// Act
		var cut = CreateCUT(null);

		// Assert
		Assert.Empty(cut.FindAll(Selectors.ByTestId("icoIcon")));
	}
}
