﻿@namespace Blazter

<button data-testId="btnButton" class="button @(GetClass("button"))" disabled="@Disabled">
	@if (!string.IsNullOrWhiteSpace(Icon))
	{
		<i data-testId="icoIcon" class="@Icon @(GetClass("button__icon"))" disabled="@Disabled"></i>
	}
	@if (!string.IsNullOrWhiteSpace(Label))
	{
		<span data-testId="lblLabel" class="@(GetClass("button__label"))" disabled="@Disabled">@Label</span>
	}
</button>

@code {
	[Parameter]
	public string? Icon { get; set; }
	[Parameter]
	public string? Label { get; set; }
	[Parameter]
	public Severity Severity{ get; set; }
	[Parameter]
	public ButtonStyles? DisplayStyle { get; set; }
	[Parameter]
	public bool Disabled { get; set; }

	private string GetClass(string prefix)
	{
		var result = $"{prefix}--{Severity.ToString().ToLower()}";
		if (DisplayStyle.HasValue && DisplayStyle.Value.HasFlag(ButtonStyles.Text)) result = $"{result} {prefix}--text {prefix}--text--{Severity.ToString().ToLower()}";

		return result;
	}
}
