﻿.button {
    display: flex;
    column-gap: 4px;

    width: 100%;
    padding-top: 0.4em;
    padding-bottom: 0.4em;

    border-radius: .2rem;

    align-items: center;
    justify-content: center;

    opacity: .8;
}

    .button:not([disabled]):hover {
        opacity: 1;
    }