﻿input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    width: 1.5em;
    height: 1.5em;
    display: grid;
    place-content: center;
}

    input[type="checkbox"]::before {
        content: "";
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        width: 1em;
        height: 1em;
        transform: scale(0);        
        box-shadow: inset 1em 1em var(--color__text);
    }

    input[type="checkbox"]:checked::before {
        transform: scale(1);
    }

.container {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 0.4rem;

    align-items: center;
}