﻿@using Microsoft.AspNetCore.Components.Forms
@using System.Diagnostics.CodeAnalysis

@namespace Blazter

@inherits InputCheckbox

<div class="container">
	<input type="checkbox" class="checkbox" disabled="@Disabled" invalid="@Invalid" @attributes="AdditionalAttributes" @onchange="EventCallback.Factory.CreateBinder<bool>(this, __value => CurrentValue = __value, CurrentValue)">
	<span class="label checkbox_label" disabled="@Disabled">@Label</span>
</div>

@code {
	[Parameter]
	public string? Label { get; set; }
	[Parameter]
	public bool Disabled { get; set; }

	public bool Invalid => AdditionalAttributes?.ContainsKey("aria-invalid") ?? false;
}
