﻿@namespace Blazter

@using Blazter.Core.Helpers
@using Microsoft.AspNetCore.Components.Forms
@using System.Diagnostics.CodeAnalysis
@using System.Globalization
@using Microsoft.JSInterop

@typeparam TValue

@inherits InputSelect<TValue>

@inject IJSRuntime JSRuntime

<script>
	window.clear = (element) => {
		element.selectedIndex = 0;
	}
</script>

<div class="container">
	<select data-testId="slcSelector" @ref="_selectElement" @attributes="AdditionalAttributes" class="drop_down" disabled="@Disabled" invalid="@Invalid"
			@onchange="EventCallback.Factory.CreateBinder<string?>(this, (value) => SetValue(value), GetValue(), null)">
		<option data-testId="optPlaceholder" selected disabled hidden class="drop_down__placeholder">@Placeholder</option>
		@foreach (var option in Options)
		{
			@if (string.IsNullOrWhiteSpace(Id) && string.IsNullOrWhiteSpace(Name))
			{
				<option data-testId="optOption">@option</option>
			}
			else
			{
				<option data-testId="optOption" value="@option!.GetValue(Id!)">@option!.GetValue(Name!)</option>
			}
		}
	</select>
	@if (Clearable)
	{
		<button data-testId="btnClear" @onclick="Clear" class="drop_down__clear" disabled="@Disabled"><i class="fa-solid fa-xmark"></i></button>
	}
</div>

@code {
	private ElementReference _selectElement;

	[Parameter]
	public IEnumerable<TValue> Options { get; set; } = Enumerable.Empty<TValue>();
	[Parameter]
	public string? Id { get; set; }
	[Parameter]
	public string? Name { get; set; }
	[Parameter]
	public string? Placeholder { get; set; }
	[Parameter]
	public bool Disabled { get; set; }
	[Parameter]
	public bool Clearable { get; set; } = true;

	public bool Invalid => AdditionalAttributes?.ContainsKey("aria-invalid") ?? false;

	private Task SetValue(string? value)
	{
		Value = Options.SingleOrDefault(o => (Id is not null ? o!.GetValue(Id) : o!.ToString())!.Equals(value));

		_ = ValueChanged.InvokeAsync(Value);
		EditContext?.NotifyFieldChanged(FieldIdentifier);

		return Task.CompletedTask;
	}

	private string? GetValue()
	{
		var result = Name is not null ? Value?.GetValue(Name) : Value?.ToString();
		return result;
	}

	public void Clear()
	{
		SetValue(null);
		JSRuntime.InvokeVoidAsync("clear", _selectElement);
	}
}
