﻿.container {
    width: 100%;

    display: grid;
    grid-template-columns: auto min-content;
}

select {
    width: 100%;
}

    select:focus {
        outline: none;
    }

button {
    margin-left: .4rem;
}