﻿@using Microsoft.AspNetCore.Components.Forms
@using System.Linq.Expressions
@using System.ComponentModel.DataAnnotations

@namespace Blazter

@implements IDisposable

@typeparam TField

<div class="container">
	<div class="label_container">
		<span data-testId="lblLabel" class="item__label @(Required ? "item__label--required" : string.Empty)">@Label</span>
		@if (EditContext is not null && _field is not null && !EditContext.IsValid(_field.Value))
		{
			<span data-testId="lblErrorMessage" class="item__error_message">(@(EditContext.GetValidationMessages(_field.Value).FirstOrDefault()))</span>
		}
	</div>
	<div class="content">
		@ChildContent
		@if (!string.IsNullOrWhiteSpace(Hint))
		{
			<span data-testId="lblHint" class="item__hint">@Hint</span>		
		}
	</div>
</div>

@code {
	private FieldIdentifier? _field;

	[Parameter]
	public required RenderFragment ChildContent { get; set; }
	[Parameter]
	public Expression<Func<TField>>? Field { get; set; }
	[Parameter]
	public required string Label { get; set; }
	[Parameter]
	public bool Required { get; set; }
	[Parameter]
	public string? Hint { get; set; }

	[CascadingParameter]
	public EditContext? EditContext { get; set; }

	protected override void OnInitialized()
	{
		if (EditContext is not null)
		{
			EditContext.OnValidationStateChanged += OnValidationStateChanged;	

			if (Field is not null)
			{
				_field = FieldIdentifier.Create<TField>(Field);

				var propertyInfo = _field.Value.Model.GetType().GetProperty(_field.Value.FieldName);
				if (!Required && propertyInfo is not null) Required = Attribute.IsDefined(propertyInfo, typeof(RequiredAttribute));
			}
		}
	}

	private void OnValidationStateChanged(object? sender, ValidationStateChangedEventArgs args)
	{
		StateHasChanged();
	}

	public void Dispose()
	{
		if (EditContext is not null)
		{
			EditContext.OnValidationStateChanged -= OnValidationStateChanged;
		}
	}
}
