﻿.container {
    width: 100%;

    display: grid;
    grid-template-rows: min-content min-content;
    grid-row-gap: .2em;
}

.label_container {
    width: 100%;

    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: .2em;

    align-items: end;
}

.content {
    margin-left: .4em;
}