﻿@namespace Blazter

@using Microsoft.AspNetCore.Components.Forms
@typeparam TValue

@inherits InputNumber<TValue>

<div data-testId="cntContainer" class="number_input container" disabled="@Disabled" invalid="@Invalid">
	@if (!string.IsNullOrWhiteSpace(Icon))
	{
		<i data-testId="icoIcon" class="@Icon icon"></i>		
	}
	<input data-testId="inpNumber" type="number" disabled="@Disabled" 
			@bind="CurrentValueAsString" @attributes="AdditionalAttributes" @bind:event=@UpdateOn.ToString().ToLower()/>
</div>

@code {
	[Parameter]
	public string? Icon { get; set; }
	[Parameter]
	public bool Disabled { get; set; }
	[Parameter]
	public DOMEvent UpdateOn { get; set; } = DOMEvent.OnInput;

	public bool Invalid => AdditionalAttributes?.ContainsKey("aria-invalid") ?? false;
}
