﻿::deep input, input:active {
    border: none !important;
    outline: none !important;
    background-color: transparent;
    color: inherit !important;

    width: 100%;
}

.container {
    display: flex;
    column-gap: .4rem;
}

.icon {
    background-color: transparent;
}
