﻿
@namespace Blazter
@using Blazter.Core.Helpers
@using Microsoft.AspNetCore.Components.Forms
@using System.Diagnostics.CodeAnalysis

@inherits InputBase<TValue>

@typeparam TValue

<div data-testId="inpRadioButtonGroup" class="radio_button__group group" disabled="@Disabled">
	@foreach (var option in Options)
	{
		<div class="radio_button__option container">
			<input class="radio_button" data-testId="optOption" type="radio" Value="@GetId(option)" Name="@_id"
				   @onchange="EventCallback.Factory.CreateBinder<string?>(this, (value) => SetValue(value), GetValue(), null)" disabled="@Disabled"/>
			<span class="radio_button__label" data-testId="optLabel">@GetLabel(option)</span>
		</div>
	}
</div>

@code {
	private readonly string _id = Guid.NewGuid().ToString("N");

	[Parameter]
	public required IEnumerable<TValue> Options { get; set; }
	[Parameter]
	public string? Id { get; set; }
	[Parameter]
	public string? Label { get; set; }
	[Parameter]
	public bool Disabled { get; set; }

	protected override bool TryParseValueFromString(string value, [MaybeNullWhen(false)] out TValue result, [NotNullWhen(false)] out string validationErrorMessage)
	{
		throw new NotSupportedException();
	}

	private string GetId(TValue option)
	{
		return Id is not null ? option!.GetValue(Id)! : option!.ToString()!;
	}

	private string GetLabel(TValue option)
	{
		return Label is not null ? option!.GetValue(Label)! : option!.ToString()!;
	}

	private Task SetValue(string? value)
	{
		Value = Options.SingleOrDefault(o => (Id is not null ? o!.GetValue(Id) : o!.ToString())!.Equals(value));

		_ = ValueChanged.InvokeAsync(Value);
		EditContext?.NotifyFieldChanged(FieldIdentifier);

		return Task.CompletedTask;
	}

	private string GetValue()
	{
		return Value?.ToString() ?? string.Empty;
	}
}
