﻿.container {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: .4em;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color__input_background);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.1em solid var(--color__input_border);
    border-radius: 50%;
    display: grid;
    place-content: center;
}

    input[type="radio"]:checked {
        border-color: var(--color__input_border--active);
        border-width: 0.34em;
    }

.group {
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: .2em;
}