﻿@namespace Blazter

@using Microsoft.AspNetCore.Components.Forms

@inherits InputText

<div class="text_input container" disabled="@Disabled" invalid="@Invalid">
	@if (Icon is not null)
	{
		<i data-testId="icoIcon" class="@Icon icon"></i>		
	}
	<input type="text" @bind="CurrentValueAsString" @attributes="AdditionalAttributes" disabled="@Disabled" @bind:event=@UpdateOn.ToString().ToLower()></input>
</div>

@code {
	[Parameter]
	public string? Icon { get; set; }
	[Parameter]
	public bool Disabled { get; set; }
	[Parameter]
	public DOMEvent UpdateOn { get; set; } = DOMEvent.OnInput;

	public bool Invalid => AdditionalAttributes?.ContainsKey("aria-invalid") ?? false;
}
