﻿@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using System.ComponentModel
@using System.Globalization

<EditForm Model="@Model">
	<DataAnnotationsValidator/>

	<h3>Radio Button</h3>
	<div class="container">
		<RadioButton TValue="string" @bind-Value="Model.StringType" Options="Strings"></RadioButton>
		<RadioButton TValue="Type" @bind-Value="Model.Type" Options="Types" Id="Id" Label="Name"></RadioButton>
		<RadioButton TValue="string" @bind-Value="Model.StringType" Options="Strings" Disabled=true></RadioButton>

		<span>@Model.StringType</span>	
		<span>@Model.Type?.Name</span>
	</div>

	<h3>Text</h3>
	<div class="container">
		<TextInput @bind-Value="Model.Name"></TextInput>
		<TextInput Icon="fa-solid fa-user" @bind-Value="Model.Name"></TextInput>
		<TextInput Icon="fa-solid fa-user" @bind-Value="Model.Name" Disabled="true"></TextInput>
		<TextInput Icon="fa-solid fa-user" @bind-Value="Model.Required"></TextInput>
	</div>

	<h3>Number</h3>
	<div class="container">
		<NumberInput TValue="double" @bind-Value="Model.Price"></NumberInput>
		<NumberInput Icon="fa-solid fa-dollar" TValue="double" @bind-Value="Model.Price"></NumberInput>
		<NumberInput Icon="fa-solid fa-dollar" TValue="double" @bind-Value="Model.Price" Disabled=true></NumberInput>
		<NumberInput Icon="fa-solid fa-dollar" TValue="double" @bind-Value="Model.Max"></NumberInput>
	</div>

	<h3>Drop Down</h3>
	<div class="container">
		<DropDown TValue="Type" @bind-Value="Model.Type" Options="Types" Id="Id" Name="Name"/>
		<DropDown TValue="Type" @bind-Value="Model.Type" Options="Types" Id="Id" Name="Name" Clearable="false"/>
		<DropDown TValue="Type" @bind-Value="Model.Type" Options="Types" Id="Id" Name="Name" Placeholder="- Select a Value -"/>
		<DropDown TValue="Type" @bind-Value="Model.Type" Options="Types" Id="Id" Name="Name" Disabled=true/>
		<DropDown TValue="Type" @bind-Value="Model.RequiredType" Options="Types" Id="Id" Name="Name" />
		<DropDown TValue="string" @bind-Value="Model.StringType" Options="Strings"/>
	</div>

	<h3>CheckBox</h3>
	<div class="container">
		<CheckBox @bind-Value="Model.BooleanValue" Label="Deliver"/>
		<CheckBox @bind-Value="Model.BooleanValue"/>
		<CheckBox @bind-Value="Model.BooleanValue" Disabled=true Label="Deliver"/>
	</div>

	<h3>Item</h3>
	<div class="container">
		<Item Label="Name" Field="() => Model.Name">
			<TextInput @bind-Value="Model.Name"></TextInput>
		</Item>
		<Item Label="Type" Field="() => Model.RequiredType" Required=true Hint="Item automatically required if the Required attribute is presented on the property.">
			<DropDown @bind-Value="Model.RequiredType" Options="Types" Id="Id" Name="Name"></DropDown>
		</Item>
	</div>

	<h3>Button</h3>
	<div class="container">
		<Button Icon="fa-solid fa-plus" Label="Add" Severity="Severity.Primary"></Button>
		<Button Icon="fa-solid fa-search" Label="Search" Severity="Severity.Secondary"></Button>
		<Button Icon="fa-solid fa-trash" Label="Delete" Severity="Severity.Danger"></Button>
		<Button Icon="fa-solid fa-plus" Label="Add" Severity="Severity.Primary" DisplayStyle="ButtonStyles.Text"></Button>
		<Button Icon="fa-solid fa-search" Label="Search" Severity="Severity.Secondary" DisplayStyle="ButtonStyles.Text"></Button>
		<Button Icon="fa-solid fa-trash" Label="Delete" Severity="Severity.Danger" DisplayStyle="ButtonStyles.Text"></Button>
		<Button Icon="fa-solid fa-plus" Label="Add" Disabled=true></Button>
	</div>
</EditForm>

@code {
	public EditContext Context { get; set; } = null!;
	public Data Model { get; set; } = new();

	private IEnumerable<Type> Types => new List<Type> { new Type { Id = 0, Name = "Ball" }, new Type { Id = 1, Name = "Dumbell" } };
	private IEnumerable<string> Strings => new List<string> { "Ball", "Dumbell" };

	protected override void OnInitialized()
	{
		Context = new(Model);
		Context.Validate();
	}

	public record Data
	{
		public string Name { get; set; } = "Sample TextInput";
		[Required]
		public string? Required{ get; set; }
		public double Price { get; set; } = 10.0;
		[Range(0, 10)]
		public double Max { get; set; } = 11.0;
		public Type? Type { get; set; }
		[Required(ErrorMessage = "Required")]
		public Type? RequiredType { get; set; }
		public string? StringType { get; set; }

		public bool BooleanValue{ get; set; }
	}

	public class Type
	{
		public int Id { get; set; }
		public string Name { get; set; } = null!;
	}
}